body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}


header {
    background-color: #0c577a;
    color: white;
    text-align: center;
    padding: 1rem 0;
}


div {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.movie-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie-poster {
    flex: 1;
}

.movie-poster img {
    max-width: 100%;
    height: auto;
}

.movie-info {
    flex: 2;
    padding-left: 1rem;
}

.movie-list {
    background-color: #fff;
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie-list h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}




#buy-tickets {
    background-color: #47df79;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

#buy-tickets:hover {
    background-color: #583308;
    box-shadow: #333;
}