body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, sans-serif;
    background: #3a6386;
}
header {
    background-color: #1b5e96;
    color: #fff;
    text-align: center;
    padding: 20px;
}


.movie-details {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
}


#movie-poster {
    max-width: 100%;
}


#buy-ticket {
    background-color: #0074d9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.movie-list {
    text-align: center;
    margin: 20px;
}


.movie-list ul {
    padding: 0;
}

.movie-list li {
    margin: 10px;
    cursor: pointer;
}


.movie-list li:hover {
    background-color: #f0f0f0;
    border-radius: 5px 5px;
    margin: 6px 6px;
}
